<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
        <script src="{{ config['jquery'] }}"></script>
        <script src="{{ config['jqueryui_js'] }}"></script>
        <link rel="stylesheet" href="{{ config['jqueryui_css'] }}" />
        <script>
            var session_id = {{ client.session_id }};
        </script>
		<script src="/static/client.js"></script>
		<link rel="stylesheet" type="text/css" href="/static/client.css" />
		<title>Welcome</title>
	</head>
	<body>
		<div id="main">
		</div>
		<div id="chat">
		</div>
</body>
</html>
